version: "3.9"

services:
  database:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=prefect
      - POSTGRES_PASSWORD=prefect
      - POSTGRES_DB=prefect
    ports:
      - "5432:5432"
    volumes:
      - prefect_db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U prefect"]
      interval: 5s
      timeout: 5s
      retries: 5

  server:
    image: prefecthq/prefect:2-python3.11
    restart: always
    entrypoint: ["/usr/bin/tini", "-g", "--", "prefect", "server", "start"]
    environment:
      - PREFECT_UI_API_URL=http://127.0.0.1:4200/api
      - PREFECT_API_DATABASE_CONNECTION_URL=postgresql+asyncpg://prefect:prefect@database:5432/prefect
      - PREFECT_SERVER_API_HOST=0.0.0.0
    ports:
      - "4200:4200"
    depends_on:
      database:
        condition: service_healthy

volumes:
  prefect_db:
