# Arquivo de configuracao gerado automaticamente
global-nome_do_grupo = Lattes Group
global-diretorio_de_saida = /home/paulossjunior/projects/horizon_project/horizon_etl/data/lattes_json
global-email_do_admin = admin@example.com
global-idioma = PT
global-itens_desde_o_ano = 1950
global-itens_ate_o_ano = 2100
global-itens_por_pagina = 1000
global-producao_bibliografica-itens = artigo,livro,capitulo,texto,trabalho-completo,resumo-expandido,resumo-congresso,apresentacao-trabalho,outro
global-producao_tecnica-itens = software,patente,desenho-industrial,produto-tecnologico,processo-tecnica,trabalho-tecnico,outro
global-producao_artistica-itens = producao
global-identificacao_dos_grupos_de_pesquisa = SIM
global-arquivo_de_entrada = /home/paulossjunior/projects/horizon_project/horizon_etl/data/lattes_run/lattes.list
global-arquivo_de_entrada_de_grupos = 
global-diretorio_de_saida_json = /home/paulossjunior/projects/horizon_project/horizon_etl/data/lattes_json