prefect>=2.0.0
supabase
pydantic>=2.0.0
loguru
git+https://github.com/ifesserra-lab/sigpesq_agent.git@v0.3.0
research-domain @ git+https://github.com/The-Band-Solution/ResearchDomain.git@v0.12.6
python-dotenv
beautifulsoup4
pandas
openpyxl
git+https://github.com/ifesserra-lab/dgp.cnqp_lib.git@v0.5.0
thefuzz
python-Levenshtein
scriptLattes @ git+https://github.com/ifesserra-lab/scriptLattes.git@v0.8.0
